@charset "UTF-8";
/*=============== IMPORTS ===============*/
/*=============== HEADER ===============*/
.container {
  margin-inline: 1rem; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #d32f2f;
  box-shadow: 0 2px 16px rgba(14, 18, 27, 0.3);
  z-index: 100;
  padding: 20px; }

.navigation__user {
  position: relative;
  height: 10px;
  display: flex;
  align-items: center;
  background-color: #d32f2f;
  padding: 1px;
  margin-right: auto;
  top: -65px;
  margin-left: auto;
  transform: translateX(280px); }
  .navigation__user .user-button {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 1px; }
    .navigation__user .user-button .user-button__avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover; }
    .navigation__user .user-button .user-button__name {
      margin-left: 1px;
      color: #0a0303;
      font-size: small; }

@media screen and (min-width: 768px) {
  .navigation__user {
    top: 50px;
    padding: 10px;
    margin-left: auto;
    transform: translateX(10px); }
    .navigation__user .user-button .user-button__avatar {
      width: 40px;
      height: 40px; }
    .navigation__user .user-button .user-button__name {
      font-size: 1.2rem; } }

@media screen and (min-width: 1024px) {
  .navigation__user {
    top: 30px;
    padding: 10px;
    margin-left: auto;
    transform: translateX(-10px); }
    .navigation__user .user-button .user-button__name {
      font-size: 1.5rem; } }

/* Añadir al archivo main.css */
.nav__search-input {
  border: none;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box; }

.nav__search-input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }

/*=============== NAV ===============*/
.nav {
  height: 3.5rem; }
  .nav__logo, .nav__burger, .nav__close {
    color: #ffffff; }
  .nav__data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .nav__logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem; }
    .nav__logo i {
      font-weight: initial;
      font-size: 1.25rem; }
    .nav__logo img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover; }
      @media screen and (min-width: 1024px) {
        .nav__logo img {
          top: 12px;
          width: 80px;
          height: 80px;
          bottom: 12px; } }
  .nav__toggle {
    position: relative;
    width: 32px;
    height: 32px; }
  .nav__burger, .nav__close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity .1s, transform .4s; }
  .nav__close {
    opacity: 0; }
  .nav .navigation__switch {
    background: #343D5B;
    border-radius: 50px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    margin-left: 20px;
    width: 60px;
    height: 30px;
    top: -50px;
    margin-left: auto;
    transform: translateX(-50px);
    align-items: center; }
    @media screen and (min-width: 1024px) {
      .nav .navigation__switch {
        top: 25px;
        margin-left: auto;
        transform: translateX(-40px); } }
    .nav .navigation__switch::after {
      content: "";
      display: block;
      width: 26px;
      height: 26px;
      position: absolute;
      background: #F1F1F1;
      top: 2px;
      left: 2px;
      border-radius: 50%;
      transition: .3s ease all;
      box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2); }
    .nav .navigation__switch.active {
      background: orange;
      color: #111111; }
      .nav .navigation__switch.active::after {
        left: unset;
        right: 2px; }
    .nav .navigation__switch span {
      width: 30px;
      height: 30px;
      line-height: 30px;
      display: block;
      background: none;
      color: #fff;
      text-align: center;
      margin-right: 20px; }
      .nav .navigation__switch span i {
        font-size: 15px; }
  @media screen and (max-width: 1118px) {
    .nav__menu {
      position: absolute;
      left: 0;
      top: 2.5rem;
      width: 100%;
      height: calc(100vh - 3.5rem);
      overflow: auto;
      pointer-events: none;
      opacity: 0;
      transition: top .4s, opacity .3s; }
      .nav__menu::-webkit-scrollbar {
        width: 0; }
    .nav__list {
      background-color: #d32f2f;
      padding-top: 1rem; } }
  .nav__link {
    color: #ffffff;
    background-color: #d32f2f;
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .3s; }
    .nav__link:hover {
      background-color: #d32f2f; }

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial; }

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg); }

.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg); }

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer; }

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s; }

.dropdown__link, .dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: #d32f2f;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  column-gap: .5rem;
  transition: background-color .3s; }
  .dropdown__link i, .dropdown__sublink i {
    font-size: 1.25rem;
    font-weight: initial; }
  .dropdown__link:hover, .dropdown__sublink:hover {
    color: #ffffff;
    background-color: #ce4949; }

.dropdown__menu, .dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-out; }

.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  transition: max-height .4s ease-in; }

.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg); }

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto; }

.dropdown__sublink {
  background-color: #ffffff; }

@media screen and (min-width: 768px) {
  .container {
    margin-inline: 1rem; }
  .nav__link {
    padding-inline: 1rem; } }

@media screen and (min-width: 1280px) {
  .container {
    margin-inline: auto; }
  .nav__logo-text {
    font-size: 25px; }
  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between; }
    .nav__toggle {
      display: none; }
    .nav__list {
      height: 100%;
      display: flex;
      column-gap: 3rem; }
    .nav__link {
      height: 100%;
      padding: 0;
      justify-content: initial;
      column-gap: .25rem;
      margin-right: 45px;
      font-size: 20px; }
      .nav__link:hover {
        background-color: transparent; }
    .nav__logo-text {
      text-align: center;
      top: 25px; }
  .dropdown__item, .dropdown__subitem {
    position: relative; }
  .dropdown__menu, .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 1rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, top .3s; }
  .dropdown__link, .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
    font-size: 25px; }
  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem; }
  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: 0; }
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial; }
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial; } }
