.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ce4949; }
  .navigation::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; }
  .navigation__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000; }
    @media screen and (min-width: 1280px) {
      .navigation__menu {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center; } }
  @media screen and (min-width: 768px) {
    .navigation {
      position: static;
      background-color: transparent;
      justify-content: center;
      padding: 10px 0; } }
  @media screen and (min-width: 1024px) {
    .navigation {
      justify-content: space-between;
      padding: 10px 40px; } }

.navigation__nav {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #ce4949;
  padding: 10px;
  position: relative; }
  .navigation__nav .navigation__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    font-size: larger; }
    .navigation__nav .navigation__logo img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover; }
