// _colors.scss
$primary-color: rgb(211, 47, 47);
$secondary-color: #ffffff;
$third-color: rgb(206, 73, 73);
$fourth-color: rgb(0, 0, 0);
$text-color: #333333;
$font-secondary: 'Georgia', serif;
$fuente-primaria: 'Arial', sans-serif;
$background-color: #000;
$card-color: #ffffffe3;
$hover-color: #e6ebe7e3;
